h1 {
  color: darkred;
}

body {
  background-color: beige;
}

.form-row input {
  border: none;
}

/* ID-Selector */
#nameInput {
  background-color: aquamarine;
}

/* empfohlen: CSS-Klasse */
.form-row {
  border: 1pt solid grey;
  width: 100%;
  margin: 3px;
  padding: 2px;
}

label {
  font-weight: bold;
}

label::after {
  content: ':';
}

a:focus {
  font-weight: bold;
  background-color: aquamarine;
}

.rezepte-container {
  display: flex;
  flex-wrap: wrap;
}

.rezepte-item {
  width: 100px;
  border: 1px solid lightgray;
  margin: 2px;
  padding: 10px;
  font-size: 0.7em;
}
